/* PanelM.css */
.panelM {
  display: flex;
    height: 100vh;
    background-color: #ffffff;
    flex-direction: column;
    align-items: stretch;
  
  
}

.menuIcon {
  display: none;
  position: fixed;
  top: 15px;
  left: 15px;
  font-size: 24px;
  cursor: pointer;
  z-index: 1000;
}

.sidebarM {
  width: 250px;
  background-color: #25b187;
  color: white;
  padding: 20px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
}

.sidebarM.hidden {
  transform: translateX(-100%);
}

.mainContent {
  margin-left: 250px;
  padding: 20px;
  flex-grow: 1;
  overflow-y: auto;
  transition: margin-left 0.3s ease-in-out;
}

.mainContent.shifted {
  margin-left: 0;
}

@media (max-width: 768px) {
  .panelM {
   
    align-items: center;
  }
  .menuIcon {
      display: block;
  }

  .sidebarM {
      width: 100%;
      transform: translateX(-100%);
  }

  .sidebarM.visible {
      transform: translateX(0);
  }

  .mainContent {
      margin-left: 0;
  }
}
