.panelM {
    display: flex;
    height: 100vh;
    background-color: #fcede6;
  }
  
  .sidebarM {
    display: flex;
    background-color: #fcede6;  
    width: 30%;
    padding: 20px;
    color: rgb(0, 0, 0);
    flex-direction: column;
    justify-content: space-between;
  } 
 .Options{
  display: flex;
  background-color: #fce3d8;
  height: 40%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10%;
  
 }
    
  /* Estilos para la tarjeta de avatar */
  .avatar-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    background-color: #ffffff;
    border-radius: 10%;
    height: 45%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .avatar {
    width: 100px;
    height: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 50%;
    background-color: #f3526f
   
  }
  
  .user-info {
    text-align: center;
  }

  .username-container,
    .level-container {
      display: flex;
      background-color:#fbda00; /* Color de fondo predeterminado */
      border-radius: 10px; /* Bordes redondeados */
      width: 140px;
      height: 25px;
      flex-direction: column;
      align-items: stretch;
      justify-content: center;
      margin: 10px;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    }
  
  .mainContent {
    flex-grow: 1;
    padding: 20px;
  }
  
  .moduleList {
    list-style: none;
    padding: 0;
  }
  
  .moduleItem {
    cursor: pointer;
    margin-bottom: 10px;
    padding: 10px 20px;
    background-color: #99d1c8; /* Color de fondo azul */
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .moduleItem:hover {
    background-color: #6cb8ab; /* Cambiar el color al pasar el mouse */
  }
  
  .moduleItem:focus {
    outline: none; /* Eliminar el contorno al hacer clic */
  }
  
  .buttonCerrarSesion {
    cursor: pointer;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #f33453; /* Color de fondo naranja */
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .buttonCerrarSesion:hover {
    background-color: #ee1539; /* Cambiar el color al pasar el mouse */
  }
  
  .buttonCerrarSesion:focus {
    outline: none; /* Eliminar el contorno al hacer clic */
  }
  
  
  .perfilCard {
    background-color: #2196F3; /* Color de fondo azul */
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .perfilCard img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
  }

  

  
  
  
  
 
  
  
  /* Estilos para hacer la aplicación responsive */
  
  @media (max-width: 768px) {
    .panelM {
      flex-direction: column;
    }
    
    .sidebar {
      width: 100%;
      margin-bottom: 20px;
    }

   
  }