
@font-face {
    font-family: 'Cute Dino';
    src: url('/fonts/cute_dino-webfont.woff2') format('woff2'),
         url('/fonts/cute_dino-webfont.woff') format('woff');
    /* Añade otros formatos de fuente aquí si los tienes */
    font-weight: normal;
    font-style: normal;
}


   .PlayScena{
    flex: 1;
    display: flex;
    background-color: #ffff;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
    border-radius: 3%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    
   }

   h2 {
    font-family: 'Cute Dino', sans-serif; 
    color: #5de2c1; /* Color naranja */
    font-size: 40px;
    text-align: center; /* Centrar el texto */
    text-shadow: 2px 2px 4px rgba(33, 49, 75, 0.5);
    -webkit-text-stroke: 1px rgb(31, 107, 112); /* Para navegadores basados en WebKit como Chrome y Safari */
    
    }
  .actividad-lv1 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #ffffff15;
    padding: 20px;
  }
  
  .object-image {
    margin-bottom: 20px;
    /* Aquí podrías agregar estilos para la imagen del objeto */
  }
  .imagen {
    width: 30%;
    border-radius: 3%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out;
}

    .imagen:hover {
        transform: scale(1.05); /* Aumenta ligeramente el tamaño al pasar el puntero sobre la imagen */
        cursor: pointer; /* Cambia el cursor a una mano para indicar interactividad */
    }

  .drop-area {
    width: 200px;
    height: 50px;
    border: 2px dashed #10271e;
    background-color: #f3cf82;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
  }
  
  .drop-area.correct {
    background-color: #8cff66;
  }
  
  .letters-container {
    display: flex;
  }
  
  .letter {
    width: 40px;
    height: 40px;
    border: 2px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out;
  }
  .letter:hover {
    transform: scale(1.3); /* Aumenta ligeramente el tamaño al pasar el puntero sobre la imagen */
    cursor: pointer; /* Cambia el cursor a una mano para indicar interactividad */
}

  

  .Dino{
    position: absolute; /* Posiciona la imagen superpuesta */
    transform: translate(-50%, -50%); /* Centra la imagen vertical y horizontalmente */
    z-index: 2; /* Coloca esta imagen encima de la imagen de fondo */
    transition: transform 0.3s ease; /* Transición suave al agrandar */
    width: 15%;
    top: 73%;
    left: 88%;
  }

  .Dino:hover {
    transform: translate(-50%, -50%) scale(1.1); /* Agranda ligeramente la imagen al pasar el puntero */
    cursor: pointer; /* Cambia el cursor a una mano para indicar interactividad */
  }

 
  .progress-bar {
    width: 100%;
    background-color: #e0e0e0;
    height: 20px;
    border-radius: 10px;
    overflow: hidden;
    margin: 20px 0;
}

.progress {
    height: 100%;
    background-color: #76c7c0;
    width: 0;
    transition: width 0.5s;
}
.final-screen button{
  background-color: #eed234;
}

.final-screen button:hover{
  background-color: #d3ba2c;
}
  
/* juego de memoria */
.memory-game {
  text-align: center;
  margin: 20px;
}

.memory-game h2 {
  font-size: 2em;
  color: #ff976e;
}

.memory-game .movimientos {
  margin-bottom: 20px;
  font-size: 1.2em;
}

.memory-game .contenedor-cartas {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.memory-game .carta {
  width: 120px;
  height: 140px;
  border: 2px solid #333;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s;
  position: relative;
  perspective: 1000px;
}

.memory-game .carta img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateY(180deg);
}

.memory-game .carta.volteada img {
  transform: rotateY(0);
}

.memory-game .carta.boca-abajo {
  background-color: #FFD700; /* Color dorado para las cartas boca abajo */
}

.memory-game .fin-juego {
  margin-top: 20px;
}

.memory-game .fin-juego h3 {
  font-size: 2em;
  color: #4CAF50;
}

.memory-game .fin-juego p {
  font-size: 1.2em;
}

.memory-game .fin-juego button {
  padding: 10px 20px;
  font-size: 1em;
  color: white;
  background-color: #f8e995;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.memory-game .fin-juego button:hover {
  background-color: #f3d422;
}
