body{
  margin :0 ;
}
.home-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh; /* Ocupa toda la altura de la pantalla */
  background-color: #fcede6 ; /* Color de fondo */
  background-image: url("/img/montaña10.png"); /* Imagen de fondo */
  background-size: cover; /* Ajusta la imagen para cubrir todo el contenedor */
  position: relative; /* Permite posicionar elementos hijos */
}
  
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5); /* Color blanco semi-transparente */
  z-index: 0; /* Coloca la superposición detrás de otros elementos */
}

.title-container {
  text-align: center; /* Centra el texto */
  padding-top: 15px; /* Espacio superior */
  top: -10%;
  position: relative;
  z-index: 1;
}

.title {
  font-size: 65px; /* Tamaño grande */
  color: #fead76; /* Color naranja */
  font-family: 'Comic Sans MS', cursive; /* Fuente estilo infantil */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Sombra de texto */
}


.centro-elementos{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
}
.house-image {
  width: 35%;
  height: auto;
  position: relative; /* Asegura que los dinosaurios se superpongan sobre esta imagen */
  z-index: 1; /* Eleva la casita para que esté por debajo de los dinosaurios */
}
.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70px;
  height: 70px;
  background-color: #99cb33;
  border-radius: 50%; /* Hace el botón redondo */
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 3; /* Eleva el botón sobre la casita y los dinosaurios */
  font-size: 30px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.3s; /* Agrega transición para suavizar el cambio */
}

.play-button:hover {
  /* Estilos cuando el ratón está sobre el botón */
  transform: translate(-50%, -50%) scale(1.1); /* Agrandar el botón */
  background-color: #7ea82a; /* Cambiar el color */
}

.play-button i {
  position: absolute;
  top: 52%;
  left: 52%;
  transform: translate(-50%, -50%);
  color: white; /* Color del icono */
  
}

.dinos-elementos {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  align-items: flex-end;
  position: relative; /* Permite que los dinosaurios se superpongan sobre esta fila */
  z-index: 2; /* Eleva la fila de dinosaurios sobre la casita */
  top: 20%;
}

.rex-image{
  width: 11%;
}

.Ali-image{
  width: 22%;
}

.dina-image{
  width: 17%;
}

.Tito-image{
  width: 12%;
}

.dados{
  width: 10%;
}

.dinos{
  margin: 10px 20px;
}
 .dinos:hover {
    animation: serpentear 0.5s infinite alternate; /* Aplicar la animación de serpentear */
 }



/* Estilos para la animación de los dinosaurios */
@keyframes serpentear {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}


