.laboratorio-silabas {
  display: flex;
  justify-content: center;
  max-width: 100%;
  padding: 20px;
  text-align: center;
  background-color: #f3e885;
  border-radius: 3%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
 
}

.laboratorio-silabas h2 {
  margin-bottom: 20px;
  color: #00796b;
}

.nivel-selector {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 15%;
  gap: 10px;
  margin-bottom: 10px;
  margin-right: 5px;

}

.nivel-selector img {
  width: 130px;
  height: 130px;
  cursor: pointer;
  transition: transform 0.3s ease;
  border-radius: 8px;
}

.nivel-selector img.selected {
  border: 2px solid #4caf50;
  transform: scale(1.1);
}

.nivel-selector img:hover {
  transform: scale(1.05);
}

.current-syllable-display {
  background-color: #ee7239e8;
  padding: 20px;
  border-radius: 8px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  margin-bottom: 20px;
}

.current-syllable-display h3 {
  margin: 0;
  font-size: 18px;
}

.current-syllable {
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
}

/* .coleccion {
  margin-bottom: 20px;
} */

.coleccion ul {
  list-style-type: none;
  padding: 0;
}

.coleccion li {
  background-color: #ffffff;
  margin: 5px 0;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.game-area-container,
.letter-list-container {
  margin-bottom: 20px;
}

.game-area-container {
  background-color: #b2dfdb00;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
}

.letter-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.letter {
  background-color: #ffffff;
  padding: 10px;
  border: 1px solid #b0bec5;
  border-radius: 4px;
  cursor: pointer;
  width: 40px;
  text-align: center;
  transition: background-color 0.3s ease;
}

.letter:active {
  background-color: #cfd8dc;
}

/* Responsivo */
@media (max-width: 1200px) {
  .game-area {
    width: auto;
  }

  .game-area-container {
    width: auto;
  }

  .laboratorio-silabas {
    flex-direction: column-reverse;
    max-width: 95%;
  }

  .nivel-selector {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: auto;
    gap: 0px;
    /* flex-direction: row; */
    margin-bottom: 10px;
    margin-right: 5px;
  }
}

@media (max-width: 600px) {
  .nivel-selector img {
    width: 100px;
    height: auto;
  }

  .letter-list-container {
    flex-direction: column;
    align-items: center;
  }

  .letter {
    margin-bottom: 10px;
  }

  .current-syllable-display,
  .game-area-container {
    padding: 10px;
  }

  .current-syllable {
    font-size: 20px;
  }
}

@media (max-width: 500px) {
  .nivel-selector img {
    width: 80px;
    height: auto;
  }

  .letter {
    width: 25px;
  }
}

@media (max-width: 375px) {
  .nivel-selector img {
    width: 65px;
    height: auto;
  }
}