/* Estilos para LetterList */
.letter-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 45px;
}

.letter {
  background-color: #ffffff;
  padding: 10px;
  border: 1px solid #b0bec5;
  border-radius: 4px;
  cursor: pointer;
  width: 40px;
  text-align: center;
  transition: background-color 0.3s ease;
}

.letter:active {
  background-color: #cfd8dc;
}

/* Responsivo */
@media (max-width: 600px) {
  .nivel-selector {
    gap: 10px;
  }

  .letter {
    width: 60px;
    margin-bottom: 10px;
  }
}