/* Gestio.css */
.gestion {
  padding: 0 50px;
}

.gestion h1 {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: #2c3e50;
  font-size: 25px;
}


.student-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.student-card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: calc(33.333% - 20px);
  box-sizing: border-box;
}

.student-details h2 {
  margin: 0;
  color: #2c3e50;
}

.student-details p {
  color: #7f8c8d;
}

.card-actions button {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
  margin-right: 5px;
}

.card-actions button:hover {
  background-color: #c0392b;
}


.register-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #3498db;
  color: white;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.register-button:hover {
  background-color: #2980b9;
}

.register-button:focus {
  outline: none;
}

.register-button svg {
  pointer-events: none;
}


@media (max-width: 768px) {
  .student-card {
      width: 100%;
  }

  .gestion h1 {
    font-size: 25px;
  }
}
